body {
  font-family: Arial,"Liberation Sans",sans-serif;
}

h1 {
  margin: 30px 0;
}

h2 {
  clear: both;
  color: #DAA520;
  margin: 50px 44px 20px;
}

p, a {
  font-size: 9pt;
  margin: 0;
  color: #3d3d3d;
}

a, a:visited {
  color: #427fed;
}

a:hover {
  color: #82afff;
}

ul li {
  list-style: none;
  overflow: hidden;
  border: 1px solid #dedede;
  margin: 5px;
  padding: 10px 5px 5px;
  position: relative;
}

ul li:hover {
  background-color: #f0f3fb;
}

.user, .tweet, .timePosted {
  float: left;
}

.user {
  width: 22%;
}

.tweet {
  width: 30%;
}

.timePosted {
  width:15%;
  text-align: center;
}

.interact {
  width: 6%;
}

.user {
  clear: left;
}

.user a {
 width: 100px;
}

.user span span {
  width: 100px;
  display: block;
  margin-top: 10px;
}

.user img, .user a > span {
  float: left;
}

.interact {
  float: left;
  margin-top: -7px;
  line-height: 200%;
}

.interact a {
  margin-left: 5px;
  float: left;
}

.user a > span {
  margin-left: 10px;
}

.media {
  width: 250px;
  margin:0 auto;
  margin-right: 50px;
}

.media img {
  max-width: 250px;
  max-height: 250px;
}

.rownum {
  width: 50px;
  height: 20px;
  color: LightGrey;
  position: absolute;
  top: 10px;
  right: -5px;
}

#linkage {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #3d3d3d;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  width: 10%;
  font-family: arial;
}

.tco-hidden{
  display: none;
}
